# Python caches
__pycache__/
*.py[cod]
*.pyd
*.pytest_cache/

# Virtual envs
venv/
.venv/
env/

# IDE
.idea/
.vscode/

# SQLite / datos locales
instance/
*.db

# Migraciones cache (mantén la carpeta, excluye cachés)
migrations/*.log

# Otros
*.log