<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>graficos</title>

    <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css')}}">
    <!-- estilo bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
    <!-- icono de logout -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=logout" />
    <!-- icono del buscador -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
    <!-- icono del back -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back" />
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

</head>
<body>
    <main class="container p-5">
        <form action="/menu-cliente" method="post" style="position: absolute; top: 40px; left: 70px;" >
             <button type="submit" class="material-symbols-outlined" style="font-size: 34px; background-color: transparent; color: white;">
                 arrow_back
             </button>
         </form>
        <div class="Display-4 text-center titlewhite">
            <h1>Gráficas-cliente</h1>
        </div>
    </main>
</body>
</html>