{% extends "base.html" %}
{% block title %}Menú Cliente{% endblock %}
{% block body_class %}menu-body{% endblock %}

{% block content %}
<main>
    <div class="menu-hero">
        <div class="menu-actions-abs menu-actions-left">
            <a href="{{ url_for('auth.logout') }}" class="icon-btn text-decoration-none"
                aria-label="Cerrar Sesión">logout</a>
        </div>
        <div class="menu-actions-abs menu-actions-right d-flex gap-2">
            <a href="{{ url_for('inventario.cesta') }}" class="icon-btn text-decoration-none"
                aria-label="Ir a la cesta">shopping_cart</a>
            <a href="{{ url_for('inventario.perfil_cliente') }}" class="icon-btn text-decoration-none"
                aria-label="Ir al perfil">person</a>
            <a href="{{ url_for('inventario.pedidos') }}" class="icon-btn text-decoration-none"
                aria-label="Ver pedidos">orders</a>
        </div>

        <div class="glass-container">
            <div class="menu-title">
                <h1 class="titlewhiteN mb-2">Suministros Informáticos</h1>
                <h2 class="titlewhiteN">CNCV</h2>
            </div>
            <div class="menu-links">
                <a href="{{ url_for('inventario.productos_cliente') }}" class="cta text-decoration-none">Productos</a>
                <a href="{{ url_for('reportes.graficas_cliente') }}" class="cta text-decoration-none">Gráficos</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}