{% extends "base.html" %}
{% block title %}Menú Admin{% endblock %}
{% block body_class %}app-body d-flex align-items-center justify-content-center{% endblock %}

{% block content %}
<main class="container p-6 text-center position-relative">
    <form action="{{ url_for('auth.logout') }}" method="post" style="position: absolute; top: 40px; left: 70px;">
        {{ csrf_token() }}
        <button type="submit" class="material-symbols-outlined" style="font-size: 34px; background-color: transparent; color: white;">
            logout
        </button>
    </form>
    <form action="/actividades" method="post" style="position: absolute; top: 40px; right: 70px;">
        {{ csrf_token() }}
        <button type="submit" class="material-symbols-outlined" style="font-size: 34px; background-color: transparent; color: white;">
            shield_person
        </button>
    </form>
    <div class="container-menu d-flex justify-content-center">
        <div class="titlewhite">
            <h1 class="display-2 text-center mt-4 titlewhiteN">Suministros Informáticos</h1>
            <h1 class="display-2 text-center titlewhiteN">CNCV</h1>
        </div>
        <div class="row-menu mt-5 d-flex justify-content-center">
            <div class="col-md-4 d-flex justify-content-center">
                <a href="/proveedores" class="neon-link mx-2 titlewhite link-menu" style="font-size: 40px; background-color: transparent; color: white;">PROVEEDORES</a>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <a href="/productos" class="neon-link mx-2 titlewhite link-menu" style="font-size: 40px; background-color: transparent; color: white;">INVENTARIO</a>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <a href="/graficas" class="neon-link mx-2 titlewhite link-menu" style="font-size: 40px; background-color: transparent; color: white;">GRÁFICOS</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
